.dashboard-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid black;
}

.table-modifier {
    display: flex;
    flex-direction: row;
}

.table-modifier > button {
    height: max(5vh, 25px);
    align-items: center;
    border-radius: 0px;
}