#cytoscapeGraph {
    background-color: slategray;
}

.nice-professor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nice-professor-result {
    background-color: thistle;
    border: 1px solid black;
    margin: 6px;
    padding: 3px;
}